body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/* header */

.top {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.452);
}

.navitem {
    display: flex;
    align-items: center;
}

/* left side items */

.appleicon {
    cursor: pointer;
    margin-left: 25px;
    margin-right: 30px;
}

.facetime {
    cursor: pointer;
    font-size: small;
    font-weight: 900;
    margin-left: 10px;
    margin-right: 10px;
}

.leftText {
    cursor: pointer;
    font-size: small;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

/* right side items */

.videoIcon {
    cursor: pointer;
    margin-top: 3px;
    width: 15px;
    margin-left: 7px;
    margin-right: 7px;
}

.batteryIcon {
    cursor: pointer;
    margin-top: 3px;
    width: 15px;
    margin-left: 7px;
    margin-right: 7px;
}

.wifiIcon {
    cursor: pointer;
    margin-top: 2px;
    width: 15px;
    margin-left: 7px;
    margin-right: 7px;
}

.searchIcon {
    cursor: pointer;
    margin-top: 3px;
    width: 12px;
    margin-left: 7px;
    margin-right: 7px;
}

.ccIcon {
    cursor: pointer;
    margin-top: 3px;
    width: 13px;
    margin-left: 7px;
}

.dateTime {
    cursor: pointer;
    font-size: small;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 25px;
}

/* dock */

.dock {
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 10px;
    right: 0;
    height: 50px;
    width: max-content;
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.452);
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.5);
    padding-left: 5px;
    padding-right: 5px;
}

.dockIcon {
    margin-top: 5px;
    width: 40px;
    transition: ease-out 0.3s;
}

.hrLine {
    background-color: rgba(0, 0, 0, 0.288);
    height: 35px;
    width: 1px;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

/* dock hover */

.dock:hover {
    width: max-content;
}

.dockIcon:hover {
    margin-top: -60px;
    width: 100px;
}